elasticsearch>=7.6.0
fuzzy-search>=1.3.0
numpy>=1.19.1
tqdm>=4.48.2
xmltodict>=0.12.0
requests>=2.25.0
beautifulsoup4>=4.9.1
python_dateutil>=2.8.1
PyYAML>=5.4
pandas>=1.2.4
bs4~=0.0.1
openpyxl~=3.0.5
scipy~=1.5.2
